<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzhi.mapper.CouponsMapper">
  <resultMap id="BaseResultMap" type="com.youzhi.model.Coupons">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="money" jdbcType="DECIMAL" property="money" />
    <result column="full_reduction_money" jdbcType="DECIMAL" property="fullReductionMoney" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="per_limit" jdbcType="INTEGER" property="perLimit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="enable_time" jdbcType="TIMESTAMP" property="enableTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="publish_count" jdbcType="INTEGER" property="publishCount" />
    <result column="use_count" jdbcType="INTEGER" property="useCount" />
    <result column="receive_count" jdbcType="INTEGER" property="receiveCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_admin_id" jdbcType="INTEGER" property="createAdminId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, use_type, start_time, end_time, content, money, full_reduction_money, platform, 
    per_limit, remark, enable_time, type, publish_count, use_count, receive_count, create_time, 
    create_admin_id
  </sql>
  <select id="selectByExample" parameterType="com.youzhi.model.CouponsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coupons
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coupons
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.youzhi.model.CouponsExample">
    delete from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.youzhi.model.Coupons">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coupons (use_type, start_time, end_time, 
      content, money, full_reduction_money, 
      platform, per_limit, remark, 
      enable_time, type, publish_count, 
      use_count, receive_count, create_time, 
      create_admin_id)
    values (#{useType,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{fullReductionMoney,jdbcType=DECIMAL}, 
      #{platform,jdbcType=INTEGER}, #{perLimit,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{enableTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, #{publishCount,jdbcType=INTEGER}, 
      #{useCount,jdbcType=INTEGER}, #{receiveCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createAdminId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.youzhi.model.Coupons">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into coupons
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="useType != null">
        use_type,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="fullReductionMoney != null">
        full_reduction_money,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="perLimit != null">
        per_limit,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="enableTime != null">
        enable_time,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="publishCount != null">
        publish_count,
      </if>
      <if test="useCount != null">
        use_count,
      </if>
      <if test="receiveCount != null">
        receive_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createAdminId != null">
        create_admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="useType != null">
        #{useType,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="fullReductionMoney != null">
        #{fullReductionMoney,jdbcType=DECIMAL},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="perLimit != null">
        #{perLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enableTime != null">
        #{enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="publishCount != null">
        #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="useCount != null">
        #{useCount,jdbcType=INTEGER},
      </if>
      <if test="receiveCount != null">
        #{receiveCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAdminId != null">
        #{createAdminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.youzhi.model.CouponsExample" resultType="java.lang.Integer">
    select count(*) from coupons
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coupons
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.useType != null">
        use_type = #{record.useType,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.fullReductionMoney != null">
        full_reduction_money = #{record.fullReductionMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.platform != null">
        platform = #{record.platform,jdbcType=INTEGER},
      </if>
      <if test="record.perLimit != null">
        per_limit = #{record.perLimit,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.enableTime != null">
        enable_time = #{record.enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.publishCount != null">
        publish_count = #{record.publishCount,jdbcType=INTEGER},
      </if>
      <if test="record.useCount != null">
        use_count = #{record.useCount,jdbcType=INTEGER},
      </if>
      <if test="record.receiveCount != null">
        receive_count = #{record.receiveCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createAdminId != null">
        create_admin_id = #{record.createAdminId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coupons
    set id = #{record.id,jdbcType=INTEGER},
      use_type = #{record.useType,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=DECIMAL},
      full_reduction_money = #{record.fullReductionMoney,jdbcType=DECIMAL},
      platform = #{record.platform,jdbcType=INTEGER},
      per_limit = #{record.perLimit,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      enable_time = #{record.enableTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=INTEGER},
      publish_count = #{record.publishCount,jdbcType=INTEGER},
      use_count = #{record.useCount,jdbcType=INTEGER},
      receive_count = #{record.receiveCount,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_admin_id = #{record.createAdminId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.youzhi.model.Coupons">
    update coupons
    <set>
      <if test="useType != null">
        use_type = #{useType,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="fullReductionMoney != null">
        full_reduction_money = #{fullReductionMoney,jdbcType=DECIMAL},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="perLimit != null">
        per_limit = #{perLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="enableTime != null">
        enable_time = #{enableTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="publishCount != null">
        publish_count = #{publishCount,jdbcType=INTEGER},
      </if>
      <if test="useCount != null">
        use_count = #{useCount,jdbcType=INTEGER},
      </if>
      <if test="receiveCount != null">
        receive_count = #{receiveCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createAdminId != null">
        create_admin_id = #{createAdminId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youzhi.model.Coupons">
    update coupons
    set use_type = #{useType,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      money = #{money,jdbcType=DECIMAL},
      full_reduction_money = #{fullReductionMoney,jdbcType=DECIMAL},
      platform = #{platform,jdbcType=INTEGER},
      per_limit = #{perLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      enable_time = #{enableTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      publish_count = #{publishCount,jdbcType=INTEGER},
      use_count = #{useCount,jdbcType=INTEGER},
      receive_count = #{receiveCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_admin_id = #{createAdminId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>